@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,300;0,400;1,300;1,400;1,600&display=swap');

:root{
    --source-serif-pro: 'Source Serif Pro', serif;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    --circle-animation: circle(111.4% at 50% 0);
}

.bg{
    width: 100%;
    height: 100vh;
    background-image: url("./img/fondo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    transition-duration: .5s;
}

.bg__about{
    width: 100%;
    height: 100vh;
    z-index: 50;
    transition-duration: .5s;
}

.hidden{
    overflow: hidden;
}

.loading{
    background: black;
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    transition-duration: .5s;
    align-items: center;
    justify-content: center;
    clip-path: var(--circle-animation);
    z-index: 40;
}

/* Estp es para cerrar la pantalla de carga */
.loading--close{
    --circle-animation: circle(0% at 50% 0);;
}

.loading__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.menu{
    width: 100%;
    height: 100vh;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    transition-duration: 1s;
    transition-timing-function: ease-in;
    z-index: 30;
}

/* Esta clase es para cerrar el menú donde te pide el nombre de usuario, se agrega la clase desde JavaScript*/
.menu--close{
    transform: translateX(-100%);
}

.menu__form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 300px;
    background-color: white;
    padding: 20px 0;
    border-radius: 10px;
    box-shadow: 0 0 30px -10px black;
}

.menu__title{
    font-family: var(--source-serif-pro);
    font-weight: 600;
}

.menu__user{
    width: 245px;
    padding: 5px 6px;
    outline: none;
    font-family: var(--source-serif-pro);
    border: none;
    font-size: 15px;
    border-bottom: 1px solid black;
    text-align: center;
}

.menu__user--failed{
    width: 245px;
    padding: 5px 6px;
    outline: none;
    font-family: var(--source-serif-pro);
    border: none;
    font-size: 15px;
    border-bottom: 1px solid rgb(240, 4, 4);
    text-align: center;
}

.menu__user--failed::placeholder{
    color: red;
}

.menu__play{
    background-color: #1cedae;
    filter: brightness(1.5);
    cursor: pointer;
    width: 250px;
    height: 30px;
    border-radius: 10px;
    transition-duration: 0.5s;
    border: none;
    font-weight: bold;
}

.menu__play:hover{
    transform: scale(0.98);
    background-color: #16b383
}


.game{
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    transition-duration: 1s;
    transition-timing-function: ease-in;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
    --show-top: translateY(-100vh);
    --show-bottom: translateY(100vh);
    --game-result-show: circle(0% at 50% 50%);
}

.game--show{
    transform: translateX(0%);
}

.game__counter{
    color: white;
    transition-duration: .5s;
    opacity: 0;
    position: absolute;
}

.game__content{
    width: 100%;
    height: 100vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 80px;
    
}

.game__content--show{
    --show-top: translateY(0);
    --show-bottom: translateY(0);
}

.game__scoreboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition-duration: .5s;
    transform: var(--show-top);
    transition-delay: .2s;
}

.game__numbers{
    display: flex;
    gap: 6px;
}

.game__text{
    color: white;
    font-family: var(--source-serif-pro);
    font-size: 40px;
}

.game__title{
    font-family: var(--source-serif-pro);
    font-size: 20px;
    color: white;
}

.game__play{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.game__section{
    width: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 15px 0;
    transition-duration: .5s;
    transform: var(--show-bottom);
    transition-delay: .3s;
}

.game__bar{
    background: white;
    width: 5px;
    border-radius: 50px;
    height: 100%;
    transition-duration: .5s;
    transform: var(--show-bottom);
    transition-delay: .1s;
}

.game__test{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding-bottom: 20px;
    overflow: hidden;
}

.game__user{
    color: white;
    font-size: 25px;
    text-shadow: 1px 1px 5px black;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 180px;
    text-align: center;
}

.game__option{
    color: white;
    font-size: 15px;
    text-shadow: 1px 1px 5px black;
}

.game__icon{
    width: 75px;
    height: 100px;
    object-fit: cover;
    transition-duration: .3s;
    background-color: transparent;
    filter: brightness(1.5);
}

.game__icon--player{
    cursor: pointer;
}

.game__icon--player:hover, .game__icon--hover{
    transform: scale(1.1);
    filter: drop-shadow(0px 0px 5px #1cedae) brightness(1.5);
}

.game__result{
    width: 100%;
    height: 100vh;
    position: fixed;
    background: #00000099;
    clip-path: var(--game-result-show);
    z-index: 10;
    transition-duration: .3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game__result--show{
    --game-result-show: circle(70.7% at 50% 50%);
}

.game__text-result{
    color: white;
    text-transform: capitalize;
}

.game__about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.game__iconResult{
    width: 75px;
    height: 100px;
    object-fit: cover;
    transition-duration: .3s;
    background-color: transparent;
    filter: brightness(1.5);
}